Source: perfsonar-regulartesting
Section: misc
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@dante.net>
Build-Depends: debhelper (>= 9.0.0), dh-systemd, quilt
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://code.google.com/p/perfsonar-ps/
Vcs-Browser: https://code.google.com/p/perfsonar-ps/source/browse?repo=default

Package: perfsonar-regulartesting
Architecture: all
Depends: perl, libperfsonar-regulartesting-perl, libperfsonar-perl,
 perfsonar-common, liblog-dispatch-perl, liblog-dispatch-filerotate-perl,
 ${misc:Depends}
Description: perfSONAR Regular Testing
 The perfSONAR-PS Regular Testing package allows the configuration
 of regular tests whose results are stored in a perfSONAR Measurement
 Archive.
